<!-- htmlhint doctype-first:false -->
<footer class="layout-footer" data-ui="footer">
  <div class="container layout-footer__container" data-ui="footer-container">
    <signature></signature>
    <div class="layout-footer__actions" data-ui="footer-actions">
      <button uibutton (click)="print()">PDF runterladen</button>
      <button uibutton (click)="print('docx')">DOCX (Word) runterladen</button>
      <a style="display: none;" #download></a>
    </div>
    <div class="layout-footer__actions" data-ui="footer-actions">
      <select>
        <option disabled selected>Senden an...</option>
        <option>Service Karlsruhe</option>
        <option>Service Luckenwalde</option>
        <option>Service ...</option>
      </select>
      <button uiButton>E-Mail senden</button>
    </div>
  </div>
</footer>
