.sonstiges {
  display: grid;
  gap: var(--space-s);

  &__items {
    display: grid;
    gap: var(--space-s);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
