
canvas {
    width: 100%;
    height: 100%;

    /* disables touch interaction with browser, allowing for uninterrupted pointer events */
    touch-action: none;
}

.canvas-container {
    width: 100%;
    height: 150px;

    border: var(--border);
    border-radius: var(--radius);
    box-shadow: 2px 2px 5px var(--shadow-dark);

    margin-bottom: var(--space-s);
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-xs);
}